@media screen and  (min-width:0px) and (max-width:600px){
#register{
		position: relative;
		height: 1000px;
		width: 80%;
		margin: 0 0 0 50%;
		padding: 2vh 0 0 0;
		transform: translate(-50%,0);
	}
	
	#register .email_div,#register #FIO{
		width: 100%;
		height: 11vw;
		padding: 0;
		margin: 0 0 0 0;
		font-size: 3vw;
	}
	
	#register #Password{
		width: 100%;
		height: 22vw;
		margin: 5vh 0 0 0;
		padding: 0;
		font-size: 3vw;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 60%;
		height: 7vw;
		margin: 2vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 1em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 3vw;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 0 0% 0 50%;
		transform: translate(-45%,0);
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 2vw 50%;
		transform: translate(-45%,0);
	}
	
}

@media screen and  (min-width:601px) and (max-width:800px){
	#register{
		position: relative;
		height: 1000px;
		width: 80%;
		margin: 0 0 0 50%;
		padding: 6vh 0 0 0;
		transform: translate(-50%,0);
	}
	
	#register .email_div,#register #FIO{
		width: 100%;
		height: 6vw;
		padding: 0;
		margin: 0 0 0 0;
		font-size: 2vw;
	}
	
	#register #Password{
		width: 100%;
		height: 13vw;
		margin: 5vh 0 0 0;
		padding: 0;
		font-size: 2vw;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 60%;
		height: 4vw;
		margin: 2vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 1em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 1.8vw;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 0 0% 0 50%;
		transform: translate(-45%,0);
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 1vw 50%;
		transform: translate(-45%,0);
	}
	
}


@media screen and  (min-width:801px) and (max-width:10000px){

	#register{
		position: relative;
		width: 40rem;
		height: 40rem;
		margin: 0 0 0 50%;
		padding: 50vh 0 0 0;
		transform: translate(-50%,-25%);
	}
	
	#register .email_div,#register #FIO{
		width: 100%;
		height: 3rem;
		padding: 0;
		margin: 0 0 0 0;
		font-size: 0.8rem;
	}
	
	#register #Password{
		width: 100%;
		height: 6rem;
		margin: 5vh 0 0 0;
		padding: 0;
		font-size: 0.8rem;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 60%;
		height: 2rem;
		margin: 2vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 0.5em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 0.8rem;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 0 0% 0 50%;
		transform: translate(-45%,0);
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 1vw 50%;
		transform: translate(-45%,0);
	}
	
}
/*
@media screen and  (min-width:801px) and (max-width:900px){
	#register{
		position: relative;
		height: 1600px;
		width: 80%;
		margin: 0 0 0 50%;
		padding: 6vh 0 0 0;
		transform: translate(-50%,0);
	}
	
	#register .email_div,#register #FIO{
		width: 100%;
		height: 9vw;
		padding: 0;
		margin: 0 0 0 0;
		font-size: 2.5vw;
	}
	
	#register #Password{
		width: 100%;
		height: 18vw;
		margin: 5vh 0 0 0;
		padding: 0;
		font-size: 2.5vw;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 60%;
		height: 6vw;
		margin: 2vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 1em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 2.2vw;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 0 0% 0 50%;
		transform: translate(-45%,0);
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 2vw 50%;
		transform: translate(-45%,0);
	}
	
}

@media screen and  (min-width:901px) and (max-width:1920px){
	#register{
		position: relative;
		height: 2560px;
		width: 80%;
		margin: 0% 10% 0 10%;
		padding: 6vh 0 0 0;
		max-width: 100vw;
		
	}
	
	#register .email_div,#register #FIO{
		width: 80%;
		height: 4vw;
		padding: 0;
		margin: 0 0 0 10%;
		font-size: 1.5vw;
		max-width: 100vw;
	}
	
	#register #Password{
		width: 80%;
		height: 8vw;
		margin: 5vh 0 0 10%;
		padding: 0;
		font-size: 1.5vw;
		max-width: 100vw;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 48%;
		height: 3vw;
		margin: 5vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 1em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 1.8vw;
		max-width: 100vw;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 2% 0% 0 50%;
		transform: translate(-45%,0);
		max-width: 100vw;
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 2vw 50%;
		transform: translate(-45%,0);
		max-width: 100vw;
	}
	
}

@media screen and  (min-width:1921px) and (max-width:3200px){

	#register{
		position: relative;
		height: 3200px;
		width: 80%;
		margin: 0 0 0 50%;
		padding: 6vh 0 0 0;
		transform: translate(-50%,0);
	}
	
	#register .email_div,#register #FIO{
		width: 100%;
		height: 6vw;
		padding: 0;
		margin: 0 0 0 0;
		font-size: 2.5vw;
	}
	
	#register #Password{
		width: 100%;
		height: 12vw;
		margin: 5vh 0 0 0;
		padding: 0;
		font-size: 2.5vw;
	}
	
	#register input[type="button"]{
		position: relative;
		width: 60%;
		height: 5vw;
		margin: 3vh 0% 0 50%;
		transform: translate(-50%,0);
		border-radius: 1em;
		border: none;
		background-color: #F9C33E;
		font-family: Base;
		letter-spacing: 0.2em;
		color: #272727;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		box-shadow: 0 5px 7px rgba(0,0,0,0.8);
		font-size: 2.4vw;
	}
	
	
	#register #FIO .field,#register .email_div .field{
		position: relative;
		height: 80%;
		width: 80%;
		margin: 0 0% 0 50%;
		transform: translate(-45%,0);
	}
	
	#register #Password .field{
		position: relative;
		height: 40%;
		width: 80%;
		margin: 0vw 0% 2vw 50%;
		transform: translate(-45%,0);
	}
	
}*/