@font-face{
	font-family: Base;
	src: url("/Fonts/open-sans_[allfont.ru].ttf");
	
}

/*--------------------------Телефоны и планшеты--------------------------------*/
@media screen and  (min-width:0px) and (max-width:240px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: 520px;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 150px;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,25%);
		font-size: 8vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 10vmin 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 0 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.5em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 5% 0 0 0;
		font-size: 0.6em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 15% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 100%;
		height: 700px;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 5em;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2.5em;
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 0.8em;
	}

}

@media screen and  (min-width:241px) and (max-width:320px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 150px;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 6vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 10vmin 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 0 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.2em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 5% 0 0 0;
		font-size: 0.6em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 15% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 50%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 7vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:321px) and (max-width:400px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 150px;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 5vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 0px 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 7vw 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.4em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 5% 0 0 0;
		font-size: 0.8em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 15% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 40%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 6vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:401px) and (max-width:480px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 250px;
		max-height: 35vw;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 4.5vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 0px 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 7vw 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.3em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 5% 0 0 0;
		font-size: 0.7em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 15% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 40%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 6vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:481px) and (max-width:600px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 300px;
		max-height: 40vw;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 3.5vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 0px 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 7vw 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.3em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 3% 0 0 0;
		font-size: 0.7em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 9% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 40%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 5vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:601px) and (max-width:640px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 25px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 350px;
		max-height: 40vw;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 3.5vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 0px 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 7vw 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.3em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 3% 0 0 0;
		font-size: 0.7em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 9% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 40%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 5vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:641px) and (max-width:780px){
	
	#fixed_header{	
		position: fixed;
		width: 100%;
		height: 35px;
		background-color: #272727;
		z-index: 2;
	}
	
	#defaultHeader{	
		position: static;
		width: 100%;
		height: 35px;
		background-color: #272727;
		z-index: 2;
	}

	#MainBlock{
		position: relative;
		height: auto;
		min-height: 100vh;
		box-shadow: -5px 6px 10px rgba(0,0,0,0.7);
		padding: 0px 0 0 0;
		z-index: 1;
	}

	footer{
		width: 100%;
		height: 350px;
		max-height: 40vw;
		background: #272727;
	}


	::-webkit-scrollbar {
		width: 2vw;
		background-color: #272727;
		border-radius: 1em;
	}

	#search{
		display: block;
		float: left;
		height: 100%;
		width: 80%;
		
	}
	
	#search #MainSearch{
		position: relative;
		top: 10%;
		width: 30%;
		height: 70%;
		margin: 0vw 0% 0 4%;
		border-radius: 0.4em;
		border: 0.1em solid #FFFFFF;
		font-size: 1.2em;
	}
	
	#MainSearch input{
		width: 90%;
		height: 90%;
		margin: 1% 0 0 5%;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-family:  Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		letter-spacing: 0.1em;
	}
	
/*
	.container_font-size{
		display: block;
		float: left;
		width: 35%;
		height: 100%;
		margin: 0 0 0 10%;
	}
	
	.container_font-size div{
		float: left;
		height: 100%;
		width: 50%;
		font-size: 0.9em;
	}
	
	.container_font-size .info span{
		display: block;
		margin: 20% 0 0 0;
	}
	
	.container_font-size .input input{
		height: 90%;
		margin: 5% 0 0 0;
		width: 50%;
	}
	
	.container_font-size .input i{
		position: relative;
		transform: translate(50%,100%);
		font-size: 0.8em;
	}
*/
	
	header .bar-container{
		display: block;
		float: left;
		width: 20%;
		height: 100%;
	}

	header .bar-container i{
		position: relative;
		transform: translate(0,4px);
		font-size: 3vw;
	}
	
	.articles{
		width: 94%;
		height: 86%;
		margin: 0 0% 0 0%;
		padding: 0px 3% 7% 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		line-height: 1em;
		letter-spacing: 0.001em;
		word-spacing: 0.2em;
	}
	
	.articles .Level_1{
		width: 100%;
		text-align: left;
		margin: 7vw 0 15% 0;
	}

	.articles .Level_1 p{
		display: block;
		padding: 0;
	    margin: 0;
		line-height: 1;
		font-weight: 500;
		cursor: default;
		font-size: 1.3em;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		margin: 3% 0 0 0;
		font-size: 0.7em;
	}

	.articles .Level_1 .Level_2 a{
		box-sizing: border-box;
		text-decoration: underline;
		box-shadow: 0 1px 3px rgba(0,0,0,0);
		color: inherit;
		padding: 0% 2% 0 2%;
		line-height: 1;
	}
	
	#sendNewReview form{
		width: 90%;
		height: 65%;
		margin: 9% 5% 0% 5%;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 12%;
		margin: 4% 0 0 7%; 
		font-size: 1.3em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 1.2em;
	}
	
	.container_menu{
		display: none;
		position: fixed;
		z-index: 10;
		width: 40%;
		height: 700px;
		min-height: 100vh;
	}
	
	.portrait_menu{
		z-index: 11;
		width: 100%;
		height: 100%;
		background-color: #272727;
		box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	}
	
	.portrait_menu .fa-times{
		position: relative;
		font-size: 5vw;
		margin: 2% 0 0 95%;
		transform: translate(-100%,0);
		color: #F7CB5B;
	}
	
	#portrait_sections .logo{
		position: relative;
		height: 6%;
		margin: 5% 0 5% 50%;
		transform: translate(-50%,0);
	}
	
	#portrait_sections .section{
		width: 100%;
		height: 7%;
		margin: 0.1% 0 0 0;
		background-color: #F7CB5B;
		font-size: 2em;
	}
	
	#portrait_sections .section span{
		position: relative;
		margin: 0 0 0 0;
		transform: translate(0,10px);
	}
	
	h2{
		margin: 0 0 0 7%;
	}
	
	.article_text{
		font-size: 0.7em;
		line-height: 1.5;
		width: 90%;
		padding: 0 5% 0 5%;
	}
	
	#reviews{
		float: left;
		margin: 0% 5% 0% 5%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 1.5em;
	}
	
	#reviews .reviewBlock{
		float: left;
		padding: 2% 0% 0% 2%;
		margin: 2% 2% 2% 2%;
		max-width: 90%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
	}
	
	h1{
		font-size: 1em;
	}

}

@media screen and  (min-width:0px) and (max-width:780px){
	.articles .Level_1 .Level_2 i{
		display: block;
		position: relative;
		float: left;
		clear: left;
		width: 1%;
		font-size: 0.5em;
		height: 100%;
		padding: 2vmin 0 0 0;
		margin: 0% 0 0 0;
	}
}
/*--------------------------Телефоны и планшеты--------------------------------*/
/*--------------------------Ноутбуки и компьютеры------------------------------*/
@media screen and  (min-width:781px) and (max-width:10000px){
	/*-----GeneralStyle--------*/

	#defaultHeader{	
		position: static;
		width: 100%;
		height: 7vmin;
		background-color: #272727;
		z-index: 2;
		word-break: break-all;
	}
	
	#fixed_header{
		display: none;
		position: fixed;
		width: 100%;
		height: 7vmin;
		background-color: #272727;
		z-index: 2;
		word-break: break-all;
	}

	#MainBlock{
		position: relative;
		width: 100%;
		height: auto;
		min-height: 100vh;
		box-shadow: 0 10px 20px rgba(0,0,0,0.7);
		z-index: 1;
		padding: 0;
	}

	footer{
		width: 100%;
		height: 50vmin;
		background: #272727;
	}
	
	::-webkit-scrollbar {
		width: 1vmin;
		background-color: #272727;
		border-radius: 1em;
	}
	
	/*-----HeaderStyle--------*/
	#search,#sections{
		display: block;
		float: left;
		height: 100%;
	}
	#sections{
		width: 80%;
	}
	#search{
		width: 20%;
	}
	header .bar-container{
	    display: none;
    }
	
	#sections .logo{
		float: left;
	    width: 6%;
	}
	
	#sections .section{
		float: left;
		width: auto;
		padding: 0 1% 0 1%;
		height: 100%;
		font-size: 1.8vmin;
	}
	
	#defaultHeader .section span{
		display: block;
		position: relative;
		transform: translate(0,100%);
	}
	
	#search #MainSearch{
		float: left;
		width: 60%;
		height: 40%;
		position: relative;
		transform: translate(0,25%);
		padding: 1% 0 1% 0;
		border-radius: 0.5em;
		font-size: 2vmin;
		border: 0.1em solid #FFFFFF;
	}
	
	#search #MainSearch input{
		position: relative;
		transform: translate(0,13%);
		margin: 0 0 0 5%;
		font-size: 2vmin;
		font-weight: lighter;
	}
	
	/*-----FooterStyle--------*/
	#reviews::-webkit-scrollbar {
		width: 0.5vmin;
		background-color: #111111;
		border-radius: 1em;
	}
	#reviews .review::-webkit-scrollbar {
		width: 0.5vmin;
		background-color: #F9C33E;
		border-radius: 1em;
	}
	
	#sendNewReview form{
		width: 60%;
		height: 80%;
		margin: 5% 5% 0% 5%;
		padding: 5% 0 0 0;
	}
	
	#sendNewReview form .reviewBlock{
		width: 100%;
		height: 9%;
		margin: 2% 0 0 7%; 
		font-size: 2.1vmin;
	}
	
	#sendNewReview form textarea{
		float: left;
		box-sizing: border-box;
		resize: none;
		width: 80%;
		height: 400%;
		border-radius: 0.25em;
		border: 0.1em solid #F9C33E;
		outline: none;
		padding: 3%;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 0.9em;
		letter-spacing: 0.05em;
	}
	
	#sendNewReview form input[type="button"]{
		margin-top: 4%;
		margin-left: 10%;
		border: none;
		background-color: #F9C33E;
		width: 74%;
		height: 10%;
		font-size: 2vmin;
		
	}
	#sendNewReview form input[type="button"]:hover{
		cursor: pointer;
		box-shadow: 0 0px 5px 5px rgba(0,0,0,0.5);
	}
	
	#sendNewReview i:hover{
		color: #F9C33E;
		cursor: pointer;
	}
	
	#reviews .reviewBlock{
		float: left;
		width: 90%;
		padding: 2% 0% 0% 0%;
		margin: 2% 2% 2% 2%;
		background-color: #F9C33E;
		border-radius: 0.5em  0.5em  0.5em  0.5em;
		cursor: pointer;
		border: none;
		font-size: 2vmin;
	}
	/*-----MainBlockStyle--------*/
	.articles{
		width: 60%;
		height: 100%;
		margin: 0 0% 0 5%;
		padding: 2% 4% 5% 4%;
		line-height:2vmin;
		font-family: Base, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		word-spacing: 0.4vmin;
		box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
	}
	
	.articles .Level_1{
		width: auto;
		margin: 5% 0 5% 0%;
		padding: 0;
		text-align: left;
	}
	.articles .Level_1 p{
		font-size: 2.5vmin;
		font-weight: 500;
		margin: 0 0 2% 0;
		padding: 0;
		cursor: default;
	}
	
	.articles .Level_1 .Level_2{
		width: 100%;
		height: auto;
		padding: 0;
	}
	
	.articles .Level_1 .Level_2 i{
		display: block;
		position: relative;
		float: left;
		clear: left;
		width: 1%;
		font-size: 0.2em;
		height: 100%;
		padding: 2vmin 0 0 0;
		margin: 0% 0 0 0;
	}
	
	 .articles .Level_1 .Level_2 a{
		display: block;
		float: left;
		clear: right;
		box-sizing: border-box;
		text-decoration: none;
		font-size: 2vmin;
		padding: 2vmin 0% 0 2%;
		height: 100%;
		width: 97%;
		text-align: left;
	}
	
	.articles .Level_1 .Level_2 a:hover{
		text-decoration: underline;
	}
	/*-------Articles-----------*/
	.articles h1{
		display: block;
		font-size: 4vmin;
	}
	
	.article_text{
		font-size: 2.5vmin;
		line-height: 1.5;
	}
}

@media screen and  (min-width:781px) and (max-width:10000px) and (orientation: portrait){
	#sendNewReview form{
		width: 90%;
		height: calc(100% - 3vw);
		margin: 2vw 5% 0% 5%;
		padding: 1vw 0 0 0;
	}
}

@media screen and  (min-width:1025px) and (max-width:1280px){}

@media screen and  (min-width:1281px) and (max-width:1440px){}

@media screen and  (min-width:1441px) and (max-width:1600px){}

@media screen and  (min-width:1601px) and (max-width:1920px){}

@media screen and  (min-width:1921px) and (max-width:2048px){}

@media screen and  (min-width:2049px) and (max-width:2560px){}

@media screen and  (min-width:2561px) and (max-width:3200px){}
/*--------------------------Ноутбуки и компьютеры------------------------------*/
