@font-face{
	font-family: Base;
	src: url("../Fonts/open-sans_[allfont.ru].ttf");
	
}

#sendNewReview{
	float: left;
	width: calc(40% - 0.1em);
	height: 100%;
	border-right: 0.1em dashed #F9C33E;
}

#reviews{
	float: left;
	width: 50%;
	margin: 0% 5% 0% 5%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#sendNewReview form{
	width: 90%;
	height: 90%;
	margin: 5% 5% 0% 5%;
}

#sendNewReview form .reviewBlock{
	width: 100%;
	height: 8%;
	margin-top: 2%;
}

#sendNewReview form input{
	float: left;
	box-sizing: border-box;
	display: block;
	width: 50%;
	border-radius: 0.25em;
	border: 0.1em solid #F9C33E;
	outline: none;
	font-family: Base;
	font-size: 0.9em;
	height: 100%;
	padding-left: 1%;
	padding-right: 1%;
}

#sendNewReview form i{
	display: block;
	float: left;
	height: 80%;
	font-size: 1.1em;
	padding-top: 0.8%;
	margin-left: 2%;
	color: #FFFFFF;
}

#sendNewReview form i:hover{
	cursor: pointer;
	color: #F9C33E;
}

#sendNewReview form input[type="button"]{
	margin-top: 1%;
	margin-left: 50%;
	border: none;
	background-color: #F9C33E;
	width: 20%;
	height: 10%;
}

#sendNewReview form input[type="button"]:hover{
	cursor: pointer;
	font-weight: bold;
	background-color: #F9893E;
}

#sendNewReview form textarea{
	float: left;
	box-sizing: border-box;
	resize: none;
	width: 70%;
	border-radius: 0.25em;
	border: 0.1em solid #F9C33E;
	outline: none;
	padding: 1%;
	font-family: Base;
	font-size: 0.9em;
	letter-spacing: 0.05em;
}

#sendNewReview form textarea::-webkit-scrollbar {
	width: 0.5vw;
	background-color: #272727;
	border-radius: 1em;
}

#sendNewReview form textarea::-webkit-scrollbar-thumb{
	background-color: #F9C33E;
	border-radius: 1em;
}

#reviews .reviewBlock{
	float: left;
	padding: 2% 0% 0% 2%;
	margin: 2% 2% 2% 2%;
	background-color: #F9C33E;
	border-radius: 0.5em  0.5em  0.5em  0.5em;
	cursor: pointer;
	border: none;
}

#reviews .review::-webkit-scrollbar {
	width: 0.5vw;
	background-color: #F9C33E;
	border-radius: 1em;
}

#reviews .review::-webkit-scrollbar-thumb{
	background-color: #272727;
	border-radius: 1em;
}

#reviews .review{
	padding: 2% 1% 1% 2%;
	background-color: transparent;
	resize: none;
	outline: none;
	cursor: pointer;
	border: none;
}

#reviews::-webkit-scrollbar {
	width: 0.5vw;
	background-color: #111111;
	border-radius: 1em;
}

#reviews::-webkit-scrollbar-thumb{
	background-color: #F9C33E;
	border-radius: 1em;
}

#reviews .autor{
	display: block;
	box-sizing: border-box;
	background-color: #272727;
	color: #F9C33E;
	border-bottom: 0.05em dashed #F9C33E;
	border-right: 0.05em dashed #F9C33E;
	border-radius: 0.5em 0 0.5em 0em;
	margin: 0 0% 0 70%;
	width: 30%;
	text-align: center;
}