
*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

#defaultHeader{	
	position: fixed;
	width: 100%;
	height: 7vh;
	background-color: #272727;
	z-index: 2;
	box-shadow: 0 0px 20px rgba(0,0,0,0.5);
}

#MainBlock{
	position: relative;
	width: 100%;
	height: auto;
	box-shadow: 0 10px 20px rgba(0,0,0,0.7);
	z-index: 1;
}

footer{
	width: 100%;
	height: 50vh;
	background: #272727;
}


::-webkit-scrollbar {
	width: 0.5vw;
	background-color: #272727;
	border-radius: 1em;
}

::-webkit-scrollbar-thumb{
	background-color: #787878;
	border-radius: 1em;
}