#sections{
	float: left;
	height: 100%;
	width: 70%;
	margin-left: 5%;
}

#search{
	float: left;
	height: 100%;
	width: 25%;
	margin: 0 0% 0 0;
}

.section{
	box-sizing: border-box;
	border-bottom: 0.1em solid #272727;
	float: left;
	height: 100%;
	width: 25%;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.section:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-bottom: 0.3em solid #F9C33E;
	color: #F9C33E;
	cursor: pointer;
}

#defaultHeader .section span{
	display: block;
	margin-top: 5%;
	font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

#MainSearch{
	width: 90%;
	height: 65%;
	margin-top: 1.5%;
	border-radius: 1em;
	border: 0.1em solid #FFFFFF;
}

#MainSearch:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border: 0.1em solid #F9C33E;
	cursor: text;
}

#MainSearch input{
	width: 90%;
	height: 70%;
	margin: 1% 0 0 5%;
	background-color: transparent;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: bold;
}

header .defaultRef{
	color: white;
	text-decoration: none;
}