@font-face{
	font-family: Base;
	src: url("../Fonts/open-sans_[allfont.ru].ttf");
	
}

#articles{
	width: 60%;
	height: 86%;
	margin: 0 20% 0 20%;
	padding: 7% 0 7% 0;
	font-size: 1.2em;
	font-family: Base;
	line-height: 1.4em;
	letter-spacing: 0.001em;
	word-spacing: 0.2em;
}
#articles ul{
	display: block;
	width: auto;
	height: auto;
	margin-top: 15vh;
}

#articles ul li{
	display: block;
	list-style:circle;
	height: 3em;
	text-align: left;
}

#articles ul li a{
	display: block;
	text-decoration: none;
	color: #2F2F2F;
	font-size: 1.1em;
}

