@font-face{
	font-family: Base;
	src: url("../Fonts/open-sans_[allfont.ru].ttf");
}


#register{
	width: 60vw;
	height: 1000px;
	margin: 0 20vw 0 20vw;
	padding: 5vw 0 0 0;
}

#register #FIO{
	margin-bottom: 1vw;
}

#register #FIO .field{
	height: 3.5vw;
	width: 80%;
	margin: 0 10% 0 10%;
}
#register #FIO .field input,#register .email_div .field input,#register #Password .field input{
	float: left;
	box-sizing: border-box;
	height: 95%;
	width: 80%;
	margin: 0 0 0 5%;
	padding: 0 5% 0 5%;
	border-radius: 0.6em;
	border: 0.15em dashed #0F0F0F;
	background-color: #BBBBBB;
	outline: none;
	font-family: Base;
	font-size: 1.2em;
	box-shadow: 0 5px 7px rgba(0,0,0,0.8);
}


#register i{
	float: left;
	font-size: 1.2em;
	margin-left: 1%;
	margin-top: 2%;
	color: #5A5A5A;
}

#register i[data-portrait='no']:hover{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #F9C33E;
	cursor: pointer;
}

#register .email_div{
	width: 100%;
	height: 3.5vw;
	margin-bottom: 3vw;
}

#register .email_div .field{
	height: 7vh;
	width: 80%;
	margin: 0 10% 0 10%;
}

#register #Password{
	width: 100%;
	height: 15%;
	padding-top: 2vw;
}

#register #Password .field{
	height: 7vh;
	width: 80%;
	margin: 0 10% 3vh 10%;
}

#register input[type="button"]{
	width: 40%;
	height: 3vw;
	margin: 0 0% 0 25%;
	border-radius: 1em;
	border: none;
	background-color: #F9C33E;
	font-family: Base;
	letter-spacing: 0.2em;
	color: #272727;
	font-weight: bold;
	cursor: pointer;
	outline: none;
    box-shadow: 0 5px 7px rgba(0,0,0,0.8);
}

#register input[type="button"]:active{
	margin-top: 2vw;
	box-shadow: 0 5px 7px rgba(0,0,0,0);
}